language: cpp
compiler: 
    - clang
    - gcc

env:
    - BUILD_TYPE=Debug
    - BUILD_TYPE=Release

install: 
    - cmake -BBuild -DCMAKE_BUILD_TYPE=$BUILD_TYPE
    - cd Build
    - make
    - cd ..

script:
    - cd Build
    - ctest -V
