language: cpp
compiler: 
    - clang
    - gcc

env:
    - BUILD_TYPE=Debug
    - BUILD_TYPE=Release

install: 
    - mkdir build
    - cd build
    - cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
    - make

script:
    - cd Build
    - ctest -V
